body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 0;
}

ul {
    justify-content: center;
    padding: 0;
}

nav .container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(170, 0, 0);
    align-items: center;
    justify-items: center;
    justify-content: right;
    color: white;
    height: 140px;
    width: auto;
    gap: 50px;
}

section.produtos {
    justify-content: center;
    display: flex;
    gap: 50px
}

.card_actions button {
    width: 170px;
}
.card_actions {
    display: flex;
    justify-content: center;
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

#rodape .container {
    display: flex;
    position: relative;
    bottom: 0;
    clear: both;
    height: 70px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
    background-color: rgb(170, 0, 0);
}

button {
    cursor: pointer;
    background-color: rgb(170, 0, 0);
    padding: 8px 15px;
    border: none;
    transition: 0.3s;
    border-radius: 15px;
    color: white
}

button:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: rgb(200, 0, 0);
}

section.contatos button{
    border-radius: 30px;
    width: 130px;
    height: 130px;
}

#espaçamento-rodapé {
    height: 50px;
}

section.container {
    gap: 50px;
}

#espaçamento-rodapé-produtos {
    height: 323px;
}